
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/home" style="font-weight: bold; font-size: 22px; color: #17202A;;">Livros</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/sobre" style="font-weight: bold; font-size: 22px; color: #17202A;;">Sobre nós</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contato" style="font-weight: bold; font-size: 22px; color:  #17202A;;">Contato</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" style="font-weight: bold; font-size: 22px; color: #17202A;;" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Categorias
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                   

                    <li><a class="dropdown-item" href="/livros/ficcao">Ficção</a></li>
                    <li><a class="dropdown-item" href="/livros/romance">Romance</a></li>
                    <li><a class="dropdown-item" href="/livros/fantasia">Fantasia</a></li>
                    <li><a class="dropdown-item" href="/livros/naoficcao">Não Ficção</a></li>
                    <li><a class="dropdown-item" href="/livros/suspense">Suspense</a></li>
                    
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
