<%- include('../partials/header.ejs'); %>
<body>
    <div class="header"> 
    </div>
    <%- include('../partials/navbar.ejs'); %>
    <div class="titulo">
        <h1  class="h1-b" style="color: #17202A;">Adiministrar Livros</h1>
    </div>
    <br>
    <a class="btn btn-warning" href="/livros/new">Adicionarnovo Livro</a> 
    <br>
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>ações</th>
        </tr>
        <% livros.forEach(livros =>{ %>
            <tr>    
                <th><%= livros.id%></th>
                <th><%= livros.titulo %></th>
                <th> 
                    <a class="btn btn-warning">Editar</a> 
                    <form method="POST" action="/admin/category/delete" style="display: inline">
                        <input type="hidden" name="id" value="">
                        <button class="btn btn-danger">Excluir</button>          
                    </form>    
                </th>
            </tr>
        <% }) %>
    </table>