<%- include('./partials/header.ejs'); %>
<body>
    <div class="header"> 
    </div>
    <%- include('./partials/navbar.ejs'); %>
    
    <div class="titulo">
        <h1  class="h1-b" style="color: #17202A;">Contato</h1>
    </div>
    <br><br><br>
    <div style="float: left; margin-left: 13%; margin-right: 120px;">
        <h1 style="font-size: 80px; font-weight: bold;">CONTATO </h1>
        <h1 style="font-size: 22px; color: #566573;">Iurialves06@gmail.com</h1>
    </div>
    <div>
        <h1 style="font-size: 80px; font-weight: bold;">SIGA-NOS</h1>
        <div style="display: inline-block;">
            <img src="img/whatsapp_icon.png"  style="width: 58px; height: 58px; margin-right: 5px;" alt="">
            <img src="img/fb_icon.png"  style="width: 58px; height: 58px; margin-right: 5px;" alt="">
            <img src="img/instagram_icon.png" style="width: 58px; height: 58px; margin-right: 5px;" alt="">
            <img src="img/twitter_icon.png"  alt="">
            <img src="img/linkedin_icon.png" alt="">
    
        </div>
    </div>
</body>