<%- include('./partials/header.ejs'); %>
<body>
    <div class="header"> 
    </div>
    <%- include('./partials/navbar.ejs'); %>
    <div class="titulo">
        <h1  class="h1-b" style="color: #17202A;">Sobre Nós</h1>
    </div>
    <br><br>
    <div style="float: left; margin-left: 13%; margin-right: 28px;">
        <h1 style="font-size: 100px; font-weight: bold;">QUEM </h1>
        <h1 style="font-size: 100px; font-weight: bold;">SOMOS</h1>
    </div>
    <div>
        <p style="font-size: 30px; color: #17202A;">Somos um site que disponibiliza livros de maneira totalmente gratuida</p>
        <br>
        <p style="font-size: 22px; color: #566573;">Nosso objetivo é aumentar o numero de leitores no brasil, acreditamos que leitura tem o poder de mundar o mundo</p>
    </div>
</body>